.my-info{
  color: #1d2129;
  font-size: 13px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.my-info header{
  border-bottom: 1px solid #90949c;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

.my-info a{
  width: 100%;
  padding: 1px;
}


.my-info a span{

}

#linked-in{
  font-size: 20px;
  color: #0076b5;
}

#gmail{
  font-size: 20px;
  color: #e75a4d;
}

#github{
  font-size: 20px;
}

.my-info a:hover{
  background-color: #f6f7f9;
  padding: 0;
  border: 1px solid #dddfe2;
}

.my-info a span{
  padding: 2px;
}

.my-info a:hover span{
  font-weight: 500;
}
