.body-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.user-container {
  display: inherit;
  flex-wrap:wrap;
  flex-direction: column;
}

.header-container{
  position: relative;
  top: 42px;
  width: 850px;
  height: 358px;
}

.cover-picture-container {
  width: 848px;
  height: 313px;
  overflow:hidden;
  position: relative;
  border: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.25);
  border-top-color: rgba(0, 0, 0, 0.1);
}

.edit-cover-picture-button{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.profile-user-name{
  position: absolute;
  font-size: 24px;
  font-weight: 250;
  z-index: 2;
  bottom: 55px;
  left: 205px;
  color: white;
  text-shadow: rgba(0,0,0,.8);
}

.profile-picture-container{
  background-color: white;
  border: 1px solid rgb(178, 178, 178);
  bottom: 15px;
  position: absolute;
  left: 15px;
  height: 168px;
  width: 168px;
  overflow: hidden;
  z-index: 2;
  padding: 3px;
  border-radius: 2px;
}

.header-links-container {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 12px;
  height: 43px;
  width: 647px;
  font-size: 14px;
  font-weight: bold;
  color: #365899;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 234, 237);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-left: 201px;
}

.header-link-list>ul {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.header-links-container li:first-child {
  border-left: 1px solid #e9eaed;
}

.header-links-container li {
  display: inherit;
  align-items: center;
  height: 43px;
  border-right: 1px solid #e9eaed;
  padding: 0px 17px;
}

.header-links-container li:hover{
  background-color:#f6f7f9;
}

.header-links-container li:focus{
  color: #4b4f56;
}

.friends-count{
  padding-left: 6px;
  color: #89919c;
  font-size: 11px;
  font-weight: normal;
}

.user-profile-content{
  display: flex;
  justify-content: space-between;
}


.cover-upload-button{
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  margin: 8px 2px;
  padding: 2px 6px;
}

.cover-image-upload{
  margin-left: 10px;
  margin-top: 8px;
  color: white;
  font-size: 18px;
}

.cover-image-upload span {
  font-size: 12px;
  padding-left: 2px;
}

.cover-picture-container span{
  opacity: 0;
  transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -webkit-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
}

.cover-picture-container:hover span{
  opacity: 1;
  transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
}




.cover-image-upload > input {
  display: none;
}

.upload-buttons{
  margin-left: auto;
  margin-right: 8px;
}

.cancel{
  border: 1px solid #ced0d4;
  background-color: #f6f7f9;
  color: #4b4f56;
}

.submit{
  border: 1px solid #4267b2;
  background-color: #4267b2;
  color: white;
}

.hidden{
  display: none;
}
