.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.profile-wrapper{
  width: 850px;
  display: flex;
  flex-direction: column;
}

.header-container{
  position: relative
}

.user-profile-content{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.profile-user-name{
  position: absolute;
  font-size: 24px;
  font-weight: 250;
  z-index: 2;
  top: 265px;
  left: 205px;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.hidden{
  display: none;
}
