
.create-post-shell{
  display: flex;
  height: 194px;
  width: 516px;
  flex-direction: column;
  margin-bottom: 12px;
}

.create-post{
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  z-index: 20;
}

.create-post .file-input{
  display: none;
}
.create-post-type-container{
  background-color: #f6f7f9;
  display: flex;
  flex-direction: row;
  padding: 8px 24px 8px 0;
  color: rgb(54, 88, 153);
  font-size: 12px;
  font-weight: 700;
}

.create-post-type-container>span {
  border-left: 1px solid #dddfe2;
  padding: 4px 6px;
}

.create-post-type-container>span:first-child {
  border: none;
}

.create-post-input-container{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #dddfe2;
}

.create-post-input-container img {
  margin: 12px 0 0 12px;

}

.create-post-input{
  height: 35px;
  width: 404px;

  padding: 23px 48px 13px 12px;
}

.create-post-add-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #dddfe2;
  padding: 8px 0;
  margin: 0 12px;
}

.create-post-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  min-width: 50px;
  box-sizing: border-box;
  color: rgb(75, 79, 86);
  font-size: 12px;
  font-weight: 700;
  background-color: #f6f7f9;
  border-radius: 18px;
  margin: 0px 2px;
}

.create-post-add-button span {
  display: block;
  padding: 0 10px;
}

.create-post-submit-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #dddfe2;
  height: 40px;
}

.create-post-submit-button{
  border: 1px solid #4267b2;
  background-color: #4267b2;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400px;
  padding: 2px 6px;
  margin: 8px;
}
