.edit-post-form{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.edit-post-form header{
  text-align: left;
  width: 500px;
  padding: 10px 12px;
  background-color: #f6f7f9;
  font-weight: bold;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.edit-post-form article{
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 12px;
  text-align: left;
  padding: 10px 12px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.edit-post-form footer{
  width: 500px;
  text-align: right;
  padding: 10px 12px;
  align-self:flex-end;
}
